<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-horario-heading" data-cy="HorarioCreateUpdateHeading" jhiTranslate="polideportivo2App.horario.home.createOrEditLabel">
        Create or edit a Horario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="polideportivo2App.horario.dia" for="field_dia">Dia</label>
          <div class="input-group">
            <input
              id="field_dia"
              data-cy="dia"
              type="text"
              class="form-control"
              name="dia"
              ngbDatepicker
              #diaDp="ngbDatepicker"
              formControlName="dia"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="diaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="polideportivo2App.horario.hora" for="field_hora">Hora</label>
          <input type="number" class="form-control" name="hora" id="field_hora" data-cy="hora" formControlName="hora" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="polideportivo2App.horario.instalacion" for="field_instalacion">Instalacion</label>
          <select class="form-control" id="field_instalacion" data-cy="instalacion" name="instalacion" formControlName="instalacion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                instalacionOption.id === editForm.get('instalacion')!.value?.id ? editForm.get('instalacion')!.value : instalacionOption
              "
              *ngFor="let instalacionOption of instalacionsSharedCollection; trackBy: trackInstalacionById"
            >
              {{ instalacionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
